html, body {
  height: 100%;
}

body {
  margin: 0;
}

input {
  border: 1px solid gray;
  padding: 3px 5px;
}

input.invalid {
  border-color: red;
}

.flex-container{
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.result{
  border: 1px solid grey;
  padding: 10px;
  margin-top: 30px;
}
