html, body {
  height: 100%;
}

.calculator {
  margin:50px auto;
  border: 1px solid;
  padding: 20px;
  width: 300px;
}

.answers {
  display: flex;
  flex-direction: column;
  border: 1px solid;
}

.answers .input,
.answers .answer {
  height: 30px;
  font-size: 2rem;
  text-align: right;
  border: none;
}
input[type="button"] {
  width: 22%;
  font-size: 13px;
  padding: 7px 0;
  background-color: #f4f4f4;
  border: 1px solid #eee;
}

input[type="button"].btn-darkgray{
  background-color: #d5d5d5;
  border-color: #c8c8c8;
}

input[type="button"].btn-blue{
  background-color: #4a8df7;
  border-color: #367def;
  color: #ffffff;
}

.calculator-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

body {
  margin: 0;
}

input {
  border: 1px solid gray;
  padding: 3px 5px;
}

input.invalid {
  border-color: red;
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  /* background: #663399; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
}

.result{
  border: 1px solid grey;
  padding: 10px;
  margin-top: 30px;
}

.yourname{
  border: 1px solid grey;
  padding: 10px;
  margin-top: 30px;
}


/* input[type=button] {
  height: 60px;
  width: 60px;
  color: blue;
  background: white;
  margin: 1px;
  border-radius: 8px;
  border: none;
}

input[type=button]:hover{
  background: gray;
  cursor: pointer;
} */
